.vscode/**
.vscode-test/**
.github/**
.agents/**
.codex/**
out/**
node_modules/**
src/**
script/**
media/**
dist/*.vsix
.gitignore
.yarnrc
bun.lock
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
